*{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background-color: rgb(196, 195, 195);
    cursor: pointer;;
}
.input-todo {
    border: none;
    outline: none;
    width: 500px;
    height: 25px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.header-wraper {
    display: flex;
    justify-content: center;
}

.header-container {
    background-color: orangered;
    width: 700px;
    height: 90px;
}
.header-wraper-title {
    display: flex;
    justify-content: center;
    color: white;
    display: flex;
    justify-content: center;
}

.js-add-btn {
    margin-top: 7px;
    border: none;
    outline: none;
    width: 90px;
    height: 25px;
    background-color: rgb(201, 198, 198);
}
/* body */

.app-container {
    display: flex;
    justify-content: center;
}

.done-btn{
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 38px;
}

.inner-app-container{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.new-todo {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(196, 195, 195);
}

.new-todo h1 {
    margin-left: 25px;
}

.new-todo-tools {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
}

.done {
    text-decoration: line-through;
    color: green;
}

.btn-action img {
    pointer-events: none;
}


